<div class="card float-left m-3" style="width: 18rem;">
  <div class="card-body">
  <% if discount.percent? %>
    <p> <%= discount.value_off %>% off orders of <%= discount.min_amount %> items or more. </p>
  <% elsif discount.dollar? %>
    <p> $<%= discount.value_off %> off orders of $<%= discount.min_amount %> or more. </p>
  <% end %>
  <%= link_to "Edit", edit_dashboard_discount_path(discount) %>
  <%= button_to "Delete", dashboard_discount_path(discount), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
